# Ignore all raw data files
_raw_data/

# Ignore all checkpoint files
*.ipynb_checkpoints

# Ignore all sublime text project files
_sublime/

# Ignore all xmind files
*.xmind

# Ignore all pyCharm files
.idea/

# Ignore all compiled python
*.pyc